IBKR_HOST=localhost
IBKR_PORT=7497
IBKR_CLIENT_ID=0
DEBUG=ibkr*
MONGO_CONN='mongodb://admin:password@localhost:27017/trading_db?directConnection=true&serverSelectionTimeoutMS=2000&appName=trade&tls=false&authSource=admin'
